.oxanium {
    font-family: 'Oxanium', cursive;
}
.sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
}
.roboto {
    font-family: 'Roboto Slab', serif;
}
.chakra {
    font-family: 'Chakra Petch', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html body {
    margin: 0;
    overflow-x: hidden;
    background: rgb(37, 37, 37);
}

.m-body {
    width: 100%;
}

h1, h2, h3, h4 {
    line-height: normal;
}

h4 a:hover {
    color: blueviolet;
}

.page {
    width: 1349px;
    height: 700px;
    background-color: rgb(37, 37, 37);
    line-height: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.page-1-top {
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}

.page-1-container {
    width: 100%;
    height: 600px;
}

#page4 {
    margin-bottom: 314px;
}

.last-page {
    margin-bottom: 314px;
}

.nav {
    height: 65px;
    width: 1349px;
    position: fixed;
    top: 0;
    background-color: blueviolet;
    z-index: 2;
    margin-left: 50%;
    transform: translateX(-50%);
    left: 0;
}

.nav-center {
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 825px;
}

.nav-center a {
    text-decoration: none;
    color: azure;
    font-size: 25px;
    margin-left: 4%;
    margin-right: 4%;
    line-height: 2.5;
}

.page-10 {
    float: left;
    width: 8%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}

.page-20 {
    float: left;
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}

.page-30 {
    float: left;
    width: 28%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}

.page-40 {
    float: left;
    width: 38%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}

.page-50 {
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}

.page-60 {
    float: left;
    width: 58%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}

.page-70 {
    float: left;
    width: 68%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}

.page-80 {
    float: left;
    width: 78%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}

.page-90 {
    float: left;
    width: 88%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}

.page-80div3 {
    float: left;
    width: calc((100% / 4) - 4%);
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
}

.billboard {
    background-image: url("../i/soj-banner.jpg");
    background-size: 90%;
    background-position: center top;
    background-repeat: no-repeat;
}

.welcome-top {
    color: blueviolet;
    margin-top: 43px;
}

.welcome-bottom {
    color: blueviolet;
    margin-top: 255px;
}

.main-logo {
    width: 300px;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#page4 h2 {
    color: azure;
}

#page4 a {
    text-decoration: none;
    color: azure;
}

#page4 a:hover {
    color: blueviolet;
}

.azure {
    color: azure;
}

.vision-img {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
    border-radius: 10px;
}

.atlas-img {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 14%;
    border-radius: 10px;
}

.vision-img:hover, .atlas-img:hover {
    cursor: pointer;
    border: 7px inset blueviolet;
}

.page-title-container {
    width: 100%;
    height: 130px;
    text-align: center;
}

.page-title-container h3 {
    line-height: normal;
    margin-top: 0;
    padding-top: 75px;
    font-size: 30px;
    color: azure;
    text-decoration: underline;
}

.page-content-container {
    width: 100%;
    height: 500px;
    padding-top: 70px;
}

.page-4-container-special {
    width: 90%;
    margin-left: 5%;
}

.donation-img {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
}

.footer {
    position: fixed;
    z-index: -1;
    background-color: blueviolet;
    width: 1349px;
    height: 315px;
    line-height: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.footer-logo {
    width: 200px;
    margin-top: 16%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#marks {
    position: fixed;
    bottom: -15px;
    width: 300px;
    height: 45px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: bisque;
    font-size: 18;
    text-align: center;
}

#marks a {
    color: bisque;
    font-size: 18;
}

.team-container {
    height: 380px;
    padding-top: 20px;
    text-align: center;
}

.team-container a {
    text-decoration: none;
    color: rgb(255, 242, 227);
}

.team-container h3, .team-container h4 {
    line-height: 0.5;
}

.team-container h3 {
    font-weight: lighter;
}

.socmed h3 {
    padding-top: 22px;
    line-height: 0.5;
}

.socmed img {
    width: 80%;
}

.socmed img:first-child, .socmed img:last-child {
    filter: brightness(0);
}

.socmed img:hover {
    filter: invert(100) brightness(100);
    border: 3px inset black;
    border-radius: 10px;
}

/* .donation {
    background-image: url("https://dummyimage.com/600x600/faae2b/fff&text=+");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 300px;
} */

.special img {
    width: 280px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.special img:hover {
    cursor: pointer;
    border: 7px inset blueviolet;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 300%;
}

.arrow-right {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%) rotate(180deg);
    margin-top: 300%;
}

.carousel-container {
    width: 500px;
    height: 600px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.item img:hover {
    cursor: pointer;
}

.carousel-bt-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -80px;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-bt-right {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: -80;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {

    html {
        overflow-x: hidden;
    }
    
    .nav {
        height: 65px;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: blueviolet;
        z-index: 2;
        margin-left: 0;
        transform: translateX(0);
        left: 0;
    }

    .nav-center {
        text-align: center;
        margin-left: 0;
        transform: translateX(0);
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .nav-menu-sub {
        display: none;
    }

    .page {
        width: 100%;
    }

    #page1 {
        height: 60%;
    }

    .page-1-container {
        height: 70%;
    }

    #page1 h2 {
        font-size: 19px;
        display: none;
    }

    .welcome-top {
        margin-top: 140px;
        display: none;
    }

    .welcome-bottom {
        margin-top: 45px;
    }

    #page2 {
        height: 100%;
    }

    /* .carousel-container {
        width: 93%;
    } */

    .carousel-inner {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 72%;
    }

    .carousel-bt-left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 15%;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        background-color: rgba(0,0,0,0);
        filter: alpha(opacity=50);
        opacity: .5;
    }
    
    .carousel-bt-right {
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: 0;
        width: 15%;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        background-color: rgba(0,0,0,0);
        filter: alpha(opacity=50);
        opacity: .5;
    }

    .arrow-left {
        width: 50%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 210%;
    }
    
    .arrow-right {
        width: 50%;
        margin-left: 50%;
        transform: translateX(-50%) rotate(180deg);
        margin-top: 210%;
    }

    .page-80div3 {
        float: left;
        width: calc((100% / 2) - 4%);
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 4%;
    }

    #page4 {
        height: 920px;
        margin-bottom: 1000px;
    }

    .last-page {
        margin-bottom: 1000px;
    }

    .special img {
        width: 100%;
    }

    .footer {
        position: fixed;
        z-index: -1;
        background-color: blueviolet;
        width: 100%;
        height: 700px;
        line-height: 0;
        margin-left: 0%;
        transform: translateX(0%);
        bottom: 0;
    }

    .footer .page-20, .footer .page-60 {
        width: 100%;
    }

    .footer .page-20 {
        height: 45%;
    }

    .footer .page-60 {
        height: 31%;
    }

    .align-lefted {
        float: left;
    }

    .socmed {
        height: 10% !important;
    }

    .socmed h3 {
        padding-top: 22px;
        line-height: 0.5;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .socmed .page-20 {
        width: calc((100% / 4) - 2%) !important;
        height: 100% !important;
    }

    .socmed img {
        width: 50%;
    }

    .team-container h3, .team-container h4 {
        line-height: 1;
    }

    #marks {
        position: fixed;
        bottom: -25px;
        width: 300px;
        height: 45px;
        margin-left: 50%;
        transform: translateX(-50%);
        color: bisque;
        font-size: 14;
        text-align: center;
    }

    #marks a {
        color: bisque;
        font-size: 14;
    }

  }

/* Use a media query to add a breakpoint at 555px: */
@media screen and (max-width: 555px) {

    html {
        overflow-x: hidden;
    }
    
    .nav {
        height: 65px;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: blueviolet;
        z-index: 2;
        margin-left: 0;
        transform: translateX(0);
        left: 0;
    }

    .nav-center {
        text-align: center;
        margin-left: 0;
        transform: translateX(0);
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .nav-menu-sub {
        display: none;
    }

    .page {
        width: 100%;
    }

    #page1 {
        height: 60%;
    }

    .page-1-container {
        height: 70%;
    }

    #page1 h2 {
        font-size: 19px;
        display: none;
    }

    .welcome-top {
        margin-top: 140px;
        display: block;
    }

    .welcome-bottom {
        margin-top: 45px;
        display: block;
    }

    #page2 {
        height: 100%;
    }

    .carousel-container {
        width: 93%;
    }

    .carousel-inner {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 72%;
    }

    .carousel-bt-left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 15%;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        background-color: rgba(0,0,0,0);
        filter: alpha(opacity=50);
        opacity: .5;
    }
    
    .carousel-bt-right {
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: 0;
        width: 15%;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        background-color: rgba(0,0,0,0);
        filter: alpha(opacity=50);
        opacity: .5;
    }

    .arrow-left {
        width: 50%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 220%;
    }
    
    .arrow-right {
        width: 50%;
        margin-left: 50%;
        transform: translateX(-50%) rotate(180deg);
        margin-top: 220%;
    }

    .page-80div3 {
        float: left;
        width: calc((100% / 2) - 4%);
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 4%;
    }

    #page4 {
        height: 685px;
        margin-bottom: 1000px;
    }

    .last-page {
        margin-bottom: 1000px;
    }

    .special img {
        width: 100%;
    }

    .footer {
        position: fixed;
        z-index: -1;
        background-color: blueviolet;
        width: 100%;
        height: 700px;
        line-height: 0;
        margin-left: 0%;
        transform: translateX(0%);
        bottom: 0;
    }

    .footer .page-20, .footer .page-60 {
        width: 100%;
    }

    .footer .page-20 {
        height: 45%;
    }

    .footer .page-60 {
        height: 31%;
    }

    .align-lefted {
        float: left;
    }

    .socmed {
        height: 10% !important;
    }

    .socmed h3 {
        padding-top: 22px;
        line-height: 0.5;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .socmed .page-20 {
        width: calc((100% / 4) - 2%) !important;
        height: 100% !important;
    }

    .socmed img {
        width: 50%;
    }

    .team-container h3, .team-container h4 {
        line-height: 1;
    }
  }

  /* Use a media query to add a breakpoint at 440px: */
@media screen and (max-width: 440px) {

    #page1 h2 {
        font-size: 19px;
        display: block;
    }

    .welcome-top {
        margin-top: 140px;
        display: block;
    }

    .welcome-bottom {
        margin-top: 45px;
        display: block;
    }

    #page2 {
        height: 80%;
    }

    #page4 {
        height: 100%;
        margin-bottom: 1000px;
    }

    .details {
        overflow: auto;
    }

    #page-product {
        height: 400px !important;
    }

    .detail-terasi {
        height: 480px;
    }

    .detail-cabe {
        height: 480px;
    }

    .detail-masker {
        height: 900px !important;
    }

    .detail-wayang {
        height: 700px;
    }

}